
<h3>Welcome to the world's worst video sharing site.</h3>

<p>When here you can see a list of bands. Click on any band to see it's video.</p>

<p>Thanks for coming!</p>

<ul>
  <% @bands.each do |band| %>
    <li><%= link_to band.name, band_path(band) %></li>
  <% end %>
</ul>

<p>
  <%= link_to "Sign up as a band rep!", new_band_rep_path %>
</p>
